{% extends 'base.html' %}

{% block content %}
  <br>
  <div class='container'>
    <div class='row'>
      <div class='box col-4 mb-4'>
        <img src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}" style='height: 90%; width: 90%;' alt={{ movie.title}}>
        <div>
            <form action="{% url 'movies:likes' movie.pk %}" method='POST'>
              {% csrf_token %}
              <h3 class="like_write">{{ movie.like_users.all|length }} 명이 좋아합니다.
              {% if user in movie.like_users.all %}
                <button type="submit" style="border:none; background-color:transparent;">
                  <i class="fa-solid fa-heart" style='color:red'></i>
                </button>
              {% else %}
                <button type="submit" style="border:none; background-color:transparent;">
                  <i class="fa-solid fa-heart" style='color:black'></i>
                </button>
              {% endif %}
                </h3>
            </form>
        </div>
      </div>
      
      <div class='box col-8'>
        <h1 class='fw-bold like_write'><i class="fa-solid fa-play"></i> {{ movie.title }}</h1>

        </h1>
        <div class='write_ibm'><i class="bi bi-calendar"></i> 개봉일 : {{ movie.release_date }}</div>
        <div class='write_ibm'><i class="fa-solid fa-star"></i> 평균 평점 : {{ movie.vote_average }}</div>
        {% if movie.overview %}
          <div class='write_ibm'><i class="fa-solid fa-circle-info"></i> 줄거리 : {{ movie.overview }}</div>
        {% endif %}
        {% for genre in movies.genre %}
          <h1>1
          </h1>
          {{ genre }}
        {% endfor %}
        <div class='write_ibm'><i class="bi bi-film"></i> 장르 : {{ movie.genre }}
        </div>

        <hr>
        <h4 class='d-inline like_write'>평점 목록</h4>
        {% if comments|length %}
          <p class='d-inline'>({{ comments|length }})</p>
        {% endif %}
        <ul class="write_ibm"> 
          {% for comment in comments %}
          <div class="d-flex">
            <div class="fs-6 fw-bold me-2">{{ comment.user }}</div>
            <div class='d-inline-block write_ibm me-2'>{{ comment.content }} </div>
              <li class="list-inline">
                <div class='text-warning d-inline-block'>
                  {% if comment.rank == 1 %} 
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                  {% elif comment.rank == 2 %}
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                  {% elif comment.rank == 3 %}
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star"></i>
                  <i class="bi bi-star"></i>
                  {% elif comment.rank == 4 %}
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star"></i>
                  {% elif comment.rank == 5 %}
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  {% endif %}
                </div>
                
                {% if user == comment.user %}
                  <form action="{% url 'movies:comments_delete' movie.pk comment.pk %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger btn-sm" style="border:none;">
                      <i class="fas fa-trash-alt fa-sm"></i>
                    </button>
                  </form>
                  <a href="{% url 'movies:comments_update' movie.pk comment.pk %}"><button  class="btn btn-outline-black btn-sm" style="border:none;"><i class="fa-solid fa-pen-to-square"></i></button></a>
                  </form>
                {% endif %}
              </li>
          </div>
          {% empty %}
            <li class="list-inline">평점이 아직 없어요!</li>
          {% endfor %}
        </ul>
        
        <hr>
        {% if request.user.is_authenticated %}
            <form class="write_ibm d-flex me-2" action="{% url 'movies:comments_create' movie.pk %}" method="POST" class='row'>
              {% csrf_token %}
              <div class='col-8 d-flex align-items-stretch'>{{ comment_form }}</div>
              <input type="submit" class='col-2' value='등록'>
            </form>
        {% else %}
          <a class='write_ibm' href="{% url 'accounts:login' %}">[평점을 작성하려면 로그인하세요.]</a>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}

