{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1 class='like_write mt-4'>COMMUNITY</h1>
    {% if request.user.is_authenticated %}
      <a class='mt-4 btn btn-secondary btn-md' href="{% url 'community:create' %}">CREATE</a>
    {% else %}
      <a href="{% url 'accounts:login' %}">새 글을 작성하려면 로그인 하세요</a>
    {% endif %}
  </div>

  <div>
    <table class="table table-hover write_ibm fw-bold" style='color:white'>
        <thead style="background-color:#3BACB6; color:white">
          <tr class="d-box">
            <th style='width:600px;'>제목</th>
            <th style='width:100px;'>작성자</th>
            <th style='width:300px;'>작성 시각</th>
            <th style='width:200px;'></th>
          </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
              <td>
                <a style='color:black' class="text-decoration-none" href="{% url 'community:detail' article.pk %}">{{article.title}}</a>
              </td>
              <td class="text-black"><a style='color:black' class="text-decoration-none" href="{% url 'accounts:profile' article.user.username %}">{{article.user}}</a></td>
              <td style='color:black'>{{article.created_at}}</td>
              <td class="text-black">
                <form action="{% url 'community:likes' article.pk %}" method='POST'>
                  {% csrf_token %}
                  
                  {% if user in article.like_users.all %}
                    <i class="fa-solid fa-heart" style='color:red'></i>
                    {{ article.like_users.all|length }}
                    <input class="ms-2" type="submit" value="좋아요 취소">
                  {% else %}
                    <i class="fa-solid fa-heart" style='color:black'></i>
                    {{ article.like_users.all|length }}
                    <input class="ms-2" type="submit" value="좋아요">
                  {% endif %}
                  
                </form>
              </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>
<div class="d-flex justify-content-center">
  <i class="fs-5 bi bi-house-fill"></i>
  <a class="fs-5 text-decoration-none" style="color: black" href="{% url 'movies:index' %}">HOME</a>
  <br>
</div>
<br>
<br>
{% endblock content %}
