{% extends 'base.html' %}

{% block content %}
<br>
    <h1 class='like_write'>Login</h1>
    <br>
    <form class="write_ibm" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
    </form>
    <br>
    <i class="bi bi-house-fill"></i>
    <a class="text-decoration-none" style="color:black" href="{% url 'movies:index' %}">HOME</a>
{% endblock content %}

{% comment %}
id:user(admin 계정) / user1
pw:password111 (비밀번호 동일)
{% endcomment %}