{% extends 'base.html' %}

{% block content %}
<br>
    <div class="container-fluid d-flex">
        {% if user != person %}
        <div class="fs-3 flex-grow-1 d-flex align-items-center">
            <i class="fa-solid fa-user-large me-2"></i>
            <h2 class='fw-bold'> {{ person.username }}'s Profile</h2>
        </div>
        <div>
            <div class='d-flex align-items-center'>
                <div class='d-flex mt-3 me-2'>
                    <p class="fs-6 fw-bolder align-items-center">
                        Followings : {{ person.followings.all|length }} / Followers : {{person.followers.all|length}}
                    </p>
                </div>
                {% if user != person %}
                <div class='mx-2'>
                    <form action="{% url 'accounts:follow' person.pk %}" method='POST'>
                        {% csrf_token %}
                        {% if user in person.followers.all %}
                            <input type="submit" value="Unfollow">
                        {% else %}
                            <input type="submit" value="Follow">
                        {% endif %}
                    </form>
                </div>
                {% endif %}
            </div>
        </div> 
        {% endif %}
        {% if user == person %}
        <div class="fs-3 flex-grow-1 d-flex align-items-center">
            <i class="fa-solid fa-user-large me-2"></i>
            <h2 class='fw-bold'>My Profile</h2>
        </div>
        <div>
            <div class='d-flex align-items-center'>
                <div class='d-flex mt-3 me-2'>
                    <p class="fs-6 fw-bolder align-items-center">
                        Followings : {{ person.followings.all|length }} / Followers : {{person.followers.all|length}}
                    </p>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a href="{% url 'accounts:update' %}" class="text-decoration-none me-2" style='color: black'>회원정보수정</a>
            <form action="{% url 'accounts:delete' %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-secondary btn-sm" value="회원탈퇴">
            </form>
        </div>
        {% endif %}
    </div>

    <hr>
    <div class="d-flex">
        <i class="fs-4 me-2 bi bi-star-fill" style='color:#F7D716'></i>
        <h2 class='write'>작성한 한줄평</h2>
    </div>

    
    <table class="table table-hover" style='color:white'>
        <thead style="background-color:#3BACB6; color:white">
          <tr>
            <th>영화 제목</th>
            <th>한줄평</th>
            <th>평점</th>
          </tr>
        </thead>
        <tbody>
            {% for comment in person.movie_comments.all %}
            <tr>
                <td>
                {% for movie in movies %}
                    {% if movie.id == comment.movie_id %}
                        <a class='text-decoration-none' style="color:black" href='{% url 'movies:detail' movie.pk %}'>{{ movie.title }}</a>
                    {% endif %}
                {% endfor %}
                </td>
                <td style='color:black'>{{comment.content}}</td>
                <td style='color:#F7D716'>
                    {% if comment.rank == 1 %} 
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    {% elif comment.rank == 2 %}
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    {% elif comment.rank == 3 %}
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    {% elif comment.rank == 4 %}
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    {% elif comment.rank == 5 %}
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

    <hr>
    <div class="d-flex">
        <i class="fs-4 me-2 bi bi-pencil-square"></i>
        <h2 class='write'>작성한 게시글</h2>
    </div>
    {% for article in person.article_set.all %}
    <a class='text-decoration-none' style="color:black" href='{% url 'community:detail' article.pk %}'>{{ article.title }}</a>
    {% endfor %}

    <hr>
    <div class="d-flex">
        <i class="fs-4 me-2 bi bi-chat-left-text"></i>
        <h2 class='comment'>작성한 댓글</h2>
    </div>
    {% for comment in person.comments.all %}
    <a class='text-decoration-none' style="color:black" href='{% url 'community:detail' comment.pk %}'>{{ comment.content }}</a>
    {% endfor %}

    <hr>
    <div class="d-flex">
        <i class="fs-4 fa-solid fa-heart me-2" style="color:red"></i>
        <h2 class='like_write'>좋아요한 게시글 </h2>
    </div>
    {% for article in person.like_articles.all %}
        <a class='text-decoration-none' style="color:black" href='{% url 'community:detail' article.pk %}'>{{ article.title }}</a>

    {% endfor %}
    <hr>
    <div class="d-flex">
        <i class="fs-4 fa-solid fa-heart me-2" style="color:red"></i>
        <h2 class='like_write'>좋아요한 영화 </h2>
    </div>
    <div class="container">
        <section class="row row-cols-xs-1 d-flex justify-content-center">
            {% for movie in movielist%}
            <div class="card m-2 d-flex justify-content-center" style="width:18rem; background-color:#B3E8E5">
                <img src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}" alt={{ movie.title}} class="m-1">
                <div class="card-body">
                    <a class='card-title fw-bold text-decoration-none' style="color:black" href='{% url 'movies:detail' movie.pk %}'>{{ movie.title }}</a>
                </div>
            </div>
            {% endfor %}
        </section>
    </div>

    <br>
    <a href="{% url 'movies:index' %}">BACK</a>
{% endblock content %}
