{% extends 'base.html' %}

{% block content %}
<br>
    <div class="container-fluid d-flex">
        {% if user != person %}
        <div class="fs-3 flex-grow-1 d-flex align-items-center">
            <i class="fa-solid fa-user-large me-2"></i>
            <h2 class='fw-bold'> {{ person.username }}'s Profile</h2>
        </div>
        <div>
            <div class='d-flex align-items-center'>
                <div class='d-flex mt-3 me-2'>
                    <p class="fs-6 fw-bolder align-items-center">
                        Followings : {{ person.followings.all|length }} / Followers : {{person.followers.all|length}}
                    </p>
                </div>
                {% if user != person %}
                <div class='mx-2'>
                    <form action="{% url 'accounts:follow' person.pk %}" method='POST'>
                        {% csrf_token %}
                        {% if user in person.followers.all %}
                            <input type="submit" value="Unfollow">
                        {% else %}
                            <input type="submit" value="Follow">
                        {% endif %}
                    </form>
                </div>
                {% endif %}
            </div>
        </div> 
        {% endif %}
        {% if user == person %}
        <div class="fs-3 flex-grow-1 d-flex align-items-center">
            <i class="fa-solid fa-user-large me-2"></i>
            <h2 class='fw-bold'>My Profile</h2>
        </div>
        <div>
            <div class='d-flex align-items-center'>
                <div class='d-flex mt-3 me-2'>
                    <p class="fs-6 fw-bolder align-items-center">
                        Followings : {{ person.followings.all|length }} / Followers : {{person.followers.all|length}}
                    </p>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <a href="{% url 'accounts:update' %}" class="text-decoration-none me-2 write_ibm" style='color: black'>회원정보수정</a>
            <form action="{% url 'accounts:delete' %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-secondary btn-sm write_ibm" value="회원탈퇴">
            </form>
        </div>
        {% endif %}
    </div>

    <hr>
    <div class="d-flex">
        <i class="fs-4 me-2 bi bi-star-fill" style='color:#F7D716'></i>
        <h2 class='write'>작성한 한줄평</h2>
    </div>
    {% if person.movie_comments.all|length == 0 %}
    <p class="write_ibm fw-bold">작성한 한줄평이 없습니다.</p>
    <br>
    {% else %}
    <div style="width:70rem">
        <table class="table table-hover write_ibm fw-bold" style='color:white'>
            <thead style="background-color:#2084a8; color:white">
              <tr>
                <th>영화 제목</th>
                <th>한줄평</th>
                <th>평점</th>
              </tr>
            </thead>
            <tbody>
                {% for comment in person.movie_comments.all %}
                <tr>
                    <td style='width:500px;'>
                    {% for movie in movies %}
                        {% if movie.id == comment.movie_id %}
                            <a class='text-decoration-none' style="color:black" href='{% url 'movies:detail' movie.pk %}'>{{ movie.title }}</a>
                        {% endif %}
                    {% endfor %}
                    </td>
                    <td style='color:black'>{{comment.content}}</td>
                    <td style='width:200px; color:#F7D716'>
                        {% if comment.rank == 1 %} 
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        {% elif comment.rank == 2 %}
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        {% elif comment.rank == 3 %}
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        {% elif comment.rank == 4 %}
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        {% elif comment.rank == 5 %}
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
    {% endif %}

    <br>
    <div class="d-flex">
        <i class="fs-4 me-2 bi bi-pencil-square"></i>
        <h2 class='write'>작성한 게시글</h2>
    </div>
    {% if person.article_set.all|length == 0 %}
    <p class="write_ibm fw-bold">작성한 게시글이 없습니다.</p>
    <br>
    {% else %}
    <div style="width:50rem">
        <table class="table table-hover write_ibm fw-bold" style='color:white'>
            <thead style="background-color:#2084a8; color:white">
              <tr class="d-box">
                <th>게시글 제목</th>
                <th style="width:300px">작성 시각</th>
              </tr>
            </thead>
            <tbody>
                {% for article in person.article_set.all %}
                <tr>
                    <td>
                        <a class='text-decoration-none' style="color:black" href='{% url 'community:detail' article.pk %}'>{{ article.title }}</a>
                    </td>
                    <td colspan="2" style='color:black'>{{article.created_at}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <br>
    <div class="d-flex">
        <i class="fs-4 me-2 bi bi-chat-left-text"></i>
        <h2 class='comment'>작성한 댓글</h2>
    </div>
    {% if person.comments.all|length == 0 %}
    <p class="write_ibm fw-bold">작성한 댓글이 없습니다.</p>
    <br>
    {% else %}
    <div style="width:50rem">
        <table class="table table-hover write_ibm fw-bold" style='color:white'>
            <thead style="background-color:#2084a8; color:white">
              <tr class="d-box">
                <th>댓글</th>
                <th style="width:300px">작성 시각</th>
              </tr>
            </thead>
            <tbody>
                {% for comment in person.comments.all %}
                <tr>
                    <td><a class='text-decoration-none' style="color:black" href='{% url 'community:detail' comment.article_id %}'>{{ comment.content }}</a></td>
                    <td colspan="2" style='color:black'>{{comment.created_at}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <br>
    <div class="d-flex">
        <i class="fs-4 fa-solid fa-heart me-2" style="color:red"></i>
        <h2 class='like_write'>좋아요한 게시글 </h2>
    </div>
    {% if person.like_articles.all|length == 0 %}
    <p class="write_ibm fw-bold">좋아요한 게시글이 없습니다.</p>
    <br>
    {% else %}
    <div style="width:30rem">
        <table class="table table-hover write_ibm fw-bold" style='color:white'>
            <thead style="background-color:#2084a8; color:white">
              <tr class="d-box">
                <th>게시글 제목</th>
              </tr>
            </thead>
            <tbody>
                {% for article in person.like_articles.all %}
                <tr>
                    <td>
                        <a class='text-decoration-none' style="color:black" href='{% url 'community:detail' article.pk %}'>{{ article.title }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <br>
    <div class="d-flex">
        <i class="fs-4 fa-solid fa-heart me-2" style="color:red"></i>
        <h2 class='like_write'>찜한 영화 </h2>
    </div>
    {% if movielist|length == 0 %}
    <p class="write_ibm fw-bold">찜한 영화가 없습니다.</p>
    <br>
    {% else %}
    <div class="container">
        <section class="row row-cols-xs-1 d-flex justify-content-start">
            {% for movie in movielist%}
            <div class="card m-2 d-flex justify-content-center" style="width:15rem; background-color:#aecfde">
                <img src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}" alt={{ movie.title}} class="m-1" height='300'>
                <div class="card-body">
                    <a class='card-title fw-bold text-decoration-none write_ibm' style="color:black" href='{% url 'movies:detail' movie.pk %}'>{{ movie.title }}</a>
                </div>
            </div>
            {% endfor %}
        </section>
    </div>
    {% endif %}
    <br>
    <div class="d-flex justify-content-center">
        <i class="fs-5 bi bi-house-fill"></i>
        <a class="fs-5 text-decoration-none" style="color: black" href="{% url 'movies:index' %}">HOME</a>
        <br>
    </div>
    <br>
    <br>
{% endblock content %}
